{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(seasonFrom) }}
    {{ form_widget(seasonFrom) }}
    <button>create season</button>
    {{ form_end(seasonFrom) }}
{% endblock %}

{% block title %}
create a season
{% endblock %}

